:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --border:0px;
  --bg-color:#1e90ff;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*#video-frame {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}*/


h1 {
  color:black;
  
}

h3 {

  color:black;
  
}

a {
  color:black;
  
}

main {
  text-align: center;
  vertical-align: center;
  
  horizontal-align: center;
  margin:auto;

  
  color:white;
  background-image:url('/public/images/Cube-BG-1.png');
  background-size: cover;
  
}

#SiteContent {
  width:80%;
  max-width:1800px;
  background-image:url('/public/images/Cube-BG-1.png');
  background-size: cover;
  opacity: .85;

  horizontal-align: center;
  margin:auto;
  
  
    
}

#Banner {
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height:280px;
  max-height:650px;
  border: var(--border) ;
  text-align: center;
  opacity: 1;
  
}

#Button {
  border: 1px solid;
  background-color: grey;
  border-radius: 5px;
  height:50px;
  width:100px;  
}

#Button:hover {
    background-color: #ffbf13;
}

#Content {  
  border: var(--border) ;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: var(--border) ;
  text-align: center;
  opacity: 1;
}

#ContentContainer {
  border: var(--border) ;
  
}

#Footer {
  border: var(--border) ;
  
}

#ImageContainer {
  border: var(--border) ;
  
}

#Product {
  border: 1px solid;
  border-radius: 25px;
  
}

#StoreOne {
  border: var(--border) ;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  width: 100%;
  text-align: center;
  opacity: 1;  

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 350px) {
  #StoreOne {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 650px) {
  #StoreOne {
    grid-template-columns: 2fr;
  }
}

#ThreeColumnGrid {
  border: var(--border) ;

}