:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --border:0px;
  --bg-color:#1e90ff;
}

main {
  text-align: center;
  vertical-align: center;
  
}

#SiteContent {
  
    
}

#Banner {
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  width: 100%;
  min-height:100px;
  max-height:180px;
  border: var(--border) ;
  text-align: center;
  opacity: 0.85;
  
}

#Button {
  border: var(--border) ;
  
}

#Content {  
  border: var(--border) ;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  width: 100%;
  border: var(--border) ;
  text-align: center;
  opacity: 0.85;
}

#ContentContainer {
  border: var(--border) ;
  
}

#Footer {
  border: var(--border) ;
  
}

#ImageContainer {
  border: var(--border) ;
  
}

#Product {
  border: 1px solid;
  border-radius: 25px;
  
}

#StoreOne {
  border: var(--border) ;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  width: 100%;
  text-align: center;
  opacity: 0.85;  

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 450px) {
  #StoreOne {
    grid-template-columns: 1fr;
  }
}

#ThreeColumnGrid {
  border: var(--border) ;

}